@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'IRANSansXV';
	src: url('fonts/IRANSansX/IRANSansXV.woff') format('woff-variations'),
		/* will be the standard and works in Safari now */
	url('fonts/IRANSansX/IRANSansXV.woff') format('woff');
	/* for the other supporting browsers */
	font-weight: 100 900;
	font-display: fallback;
}

@font-face {
	font-family: IRANSansX;
	src: url('fonts/IRANSansX/IRANSansX-Regular.woff') format('woff');
}

@font-face {
	font-family: IRANSansX;
	src: url('fonts/IRANSansX/IRANSansX-Bold.woff') format('woff');
	font-weight: 700;
}
body {
  margin: 0;
  font-family: "IRANSansX";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainHeader {
    box-shadow: 0px 3px 50px -1px rgba(50, 50, 71, 0.05);
}

.question__box,.question__box .question__box--title {
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px rgba(12, 26, 75, 0.24);
}
.question__box--answer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #222222;
}
.question__box--answer img {
    margin-right: auto;
    border-radius: 10px;
}
.custom-shadow {
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px rgba(12, 26, 75, 0.24);
}